# Configuration Netlify
[build]
  command = "" # Pas de build nécessaire
  publish = "." # Publier directement la racine

# Headers de sécurité
[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "SAMEORIGIN"
    X-XSS-Protection = "1; mode=block"
    X-Content-Type-Options = "nosniff"
